*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);

}

header{
    border:4px solid #000000;
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(255, 0, 0);
    color: cornsilk;
    padding: 10px;
    
}
ul{
    border-bottom: 100xp;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    float: left;
    gap:20px;
    padding: 10px;
    list-style: none;

}
li a{
    list-style:none ;
    text-decoration: none;
   color:white;
   background-color: red;
   
}

ul li a:hover{
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    color: red;
    
}
body{
    background-color: rgb(54, 54, 54);
    
}

h1{
   text-align: center;
   color: azure; 
   font-family: serif;
}

img{
    height: auto;
    width: 100%;  
    border-radius: 10px;
}
#section2{
    padding: 0px;
   margin: 0px;
   border: 3px solid black;
}

#historiaimg{
width: 720px;
height: 500px;
border-radius: 10px;

}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0;
    margin: 5%;


}
.historia p{
  padding:  2rem;
  margin: 0.5rem 5.5rem;

}
.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0;
    margin: 5%;


}
.noticias p{
  padding:  2rem;
  margin: 0.5rem 5.5rem;

}
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0;
    margin: 5%;


}
.titulos p{
  padding:  2rem;
  margin: 0.5rem 5.5rem;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0;
    margin: 5%;


}
.home p{
  padding:  2rem;
  margin: 0.5rem 5.5rem;

}
#noticias{
    width: 720px;
    height: 550px;
    border-radius: 10px;
}

#historiaInter{
    width: 785px;
    height: 450px;
    border-radius: 10px;

}
#decadaInter{
    width: 785px;
    height: 450px;
    border-radius: 10px;
}
#elencoInter{
    width: 785px;
    height: 450px;
    border-radius: 10px;
}
#fotoJogos{
    width: 785px;
    height: 450px;
    border-radius: 10px;
}
#mercadoDaBola{
    width: 785px;
    height: 450px;
    border-radius: 10px;
} 
#timeInter{
    width: 785px;
    height: 450px;
    border-radius: 10px;
}
#beiraRio{
    width: 785px;
    height: 450px;
    border-radius: 10px;
} #contatos{
        display: flex;
        justify-content: center; 
        align-items: center;     
        height: 100vh;           
        max-width: 100%;         
        max-height: 100%; 
    }
    .sobre{
        display: flex;
            justify-content: center;
            align-items: center;
    }
    .sobre img{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding:  0;
            margin: 5%;
        width: 400px;
        height: 600px;
        
        }

    #logoInter{
        width: 150px;
        height: 100px;
    }
    #titulos{
        width: 720px;
    height: 450px;
    border-radius: 10px;
    }
    
      
footer{
    background-color: red;
    border:2px solid #000000;
       
}

#logoInter{
align-items:right;
}
p{
color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
h2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h6{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#section5{
    text-align: center;
}
